<div class="doctors-wrapper">
  <header>
    <div class="module-title">
      <div class='title'>DOCTORS LIST</div>
      <div class='underline'></div>
    </div>
  </header>
  <div class="specialization-detail-wrapper">
    <div class="specialization-types">
      <ejs-dropdownlist id='Specialization' #specializationObj [dataSource]='specializationData'
                        [showClearButton]='true' (change)='onSpecializationChange($event)' [fields]='fields'
                        placeholder='Select a Specialization' popupWidth='100%' popupHeight='230px'>
        <ng-template #itemTemplate let-data>
          <div class="specialist-value">
            <span class="{{data.Id}}" [style.background]="getColor(data)"></span>
            <span class="name">{{data.Text}}</span>
          </div>
        </ng-template>
        <ng-template #valueTemplate let-data>
          <div class="specialist-value department-value">
            <span class="{{data.Id}}" [style.background]="getColor(data)"></span>
            <span class="name">{{data.Text}}</span>
          </div>
        </ng-template>
      </ejs-dropdownlist>
    </div>
    <div #specialistItemObj class='specialist-display'>
      <div  *ngFor="let data of filteredDoctors">
        <div (click)='onSpecialistClick(data)' class="e-cards specialist-item" id=Specialist_{{data.Id}}>
          <div class="e-card-content">
            <div class="specialist-image">
              <img class="profile" src="./assets/images/{{data.Text}}.png" alt="doctor" />
              <span class='availability {{data.Availability}}'></span>
              <span class='upload icon-upload_photo {{data.NewDoctorClass}}'></span>
            </div>
          </div>
          <div class="specialist-detail">
            <div class="name">Dr. {{data.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
