<div class="planner-wrapper">
  <main>
    <div class="planner-header">
      <div class="side-bar-opener">
        <span class="open-icon e-icons" ></span>
      </div>
      <div class="name-cantainer">
        <span class="clinic-image icon-logo"></span>
        <h1 class='clinic-name'> Veto Service</h1>
      </div>
      <div class='logout-container'>
        <div class="logout-icon-container"><span class="icon-logout logout-image"></span></div>
        <span class='logout-name'>Deconnexion</span>
      </div>
      <div class="sb-header-item sb-table-cell sb-download-wrapper">
        <a  target="_blank">
          <div id="human" class="sb-human-btn">
            <div class="human-image">
              <img src="./assets/Icons/Mark.svg" />
            </div>
          </div>
        </a>
      </div>
    </div>
    <router-outlet>
    </router-outlet>
  </main>
</div>
