<div class="container">
  <header class="container">
    <p>{{ content }}</p>
  </header>
<br>
  <br><br>    <br><br>
  <br><br>
  <div class="container">
    <section class="py-0">
      <div class="bg-holder" style="background-image:url(assets/dot.png);background-position:left;background-size:auto;margin-top:-105px;"></div>
      <div class="container position-relative">
        <div class="row align-items-center">
          <div class="col-md-5 col-lg-6 order-md-1 pt-8"><img class="img-fluid" src="assets/7928.png" alt="" /></div>
          <div class="col-md-7 col-lg-6 text-center text-md-start pt-5 pt-md-9">
            <h1 class="mb-4 display-3 fw-bold">Veto Service <br class="d-block d-lg-none d-xl-block" />for you.</h1>
            <p class="mt-3 mb-4 fs-1">Jassa provides progressive, and affordable<br class="d-none d-lg-block" />healthcare, accessible on mobile and online
              <br class="d-none d-lg-block" />for everyone</p>
            <a routerLink="/register/client"class="btn btn-primary btn-lg btn-block rounded-pill hover-top"  role="button">je suis un client</a>
            <a routerLink="/register/veto"class="btn btn-secondary btn-lg btn-block rounded-pill hover-top"  role="button">je suis un veterinaire</a>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
